.movie{
    background-color: rgb(214, 214, 227);
}
.movie-card{
    width:220px;
    background: #1f1f1f;;
    color:white;
    border-radius:30px;
    overflow:hidden;
}

.poster{
    width:100%;
    display:block;
}

.title{
    font-size:25px;
    margin:30px;
}

.overview{
    margin:0 15px 15px;
    font-size:14px;
    line-height:1.5;
    color:#ccc;
}