body{
    margin:0;
    background:#121212;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
header {
    padding:30px;
}
header a{
    text-decoration:none;
    color:white;
    font-size:22px;
    font-weight:bold;
}
header a:hover{
    color: gold;
}
.movie-container{
    width:80%;
    margin:50px auto;
    display:flex;
    gap:50px;
    align-items:flex-start;
}
#poster{
    width:320px;
    border-radius:20px;
    box-shadow:0 0 30px rgba(0,0,0,.5);
}
.movie-info{
    flex:1;
}
#title{
    font-size:55px;
    margin-bottom:20px;
}
.details{
    display:flex;
    gap:30px;
    font-size:20px;
    margin-bottom:30px;
}
#overview{
    line-height:1.8;
    font-size:18px;
    max-width:700px;
}
#cast{
    display:flex;
    gap:20px;
    margin-top:20px;
    flex-wrap:wrap;
    justify-content: space-between;
}
.actor{
    width:110px;
    text-align:center;
}
.actor img{
    width:100px;
    height:100px;
    object-fit:cover;
    border-radius:50%;
}
@media screen and (max-width:1200px) {
    #cast{
        display:none
    }
    .actor{
        width:110px;
        text-align:center;
    }
    .actor img{
        width:150px;
        height:150px;
        object-fit:cover;
        border-radius:50%;
    }
}
@media screen and (min-width:1600px) {
   
    .actor{
        width:110px;
        text-align:center;
    }
    .actor img{
        width:200px;
        height:200px;
        object-fit:cover;
        border-radius:50%;
    }
}



.actor p{
    margin-top:10px;
    font-size:20px;
    font-weight:bold;
    color:white;
}

.actor small{
    color:#aaa;
    font-size:16px;
}